body {
    font-family: sans-serif;
}
b {
    font-size: 20px;
    
}
nav {
    margin: 20px;
    padding: 10px;
    border:2px solid lightgray
}
nav a {
    margin:60px;
    font-size: 20px;
    text-decoration:none;
    color:rgb(90,90,90);



}
.a {
    background-color: grey;
    border:2px solid black;
}
p {
    font-size: 20px;
    font-family:serif;
}
.e{
    background-color: cornflowerblue;
}
.t{
    color:blue;
}
.g{
    font-size: 20px;
    border:1px solid blue;
}
